@charset "UTF-8";
/* Variables Main colors */
:root {
  --main-bg-color: #ffffff;
  --hero-bg-color-gradient: rgba(47, 48, 58, 0.4);
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-button: #188ce8;
  --link-auth-nav-footer: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-bg-footer: rgba(255, 255, 255, 0.1);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customers__link, .works__description, .benefits__icon-thumb, .checkbox__form-field, .modal__close, .social__link, .button, .mobile__menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* logo */
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo--dark {
  color: var(--title-text-color);
}
.logo--light {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19px;
  color: var(--main-bg-color);
}
@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-left: 88px;
  }
}

.link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .link--top {
    padding-top: 21px;
    padding-bottom: 5px;
  }
  .link--bottom {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}
.link--current {
  color: var(--accent-color);
}
.link--current::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.link--grey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .link--grey {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.link:focus, .link:hover {
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .auth-nav__icon {
    fill: currentColor;
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
  .auth-nav__icon--narrow {
    width: 10px;
    height: 14px;
  }
  .auth-nav__icon:hover, .auth-nav__icon:focus {
    fill: var(--accent-color);
  }
}
@media (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .auth-nav__icon:hover, .auth-nav__icon:focus {
    fill: var(--accent-color);
  }
}

.mobile {
  max-width: 767px;
  width: 100%;
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.mobile__menu-button {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.mobile__menu-button:hover, .mobile__menu-button:focus {
  fill: var(--accent-color);
}
.mobile__menu-button.is-open .mobile__icon-menu {
  display: block;
}
.mobile__menu-button .mobile__icon-menu {
  display: none;
}
.mobile__menu-button .mobile__icon-close {
  display: block;
}
.mobile__menu-button.is-open .mobile__icon-close {
  display: none;
}
.mobile__menu-conteiner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 767px;
  width: 100%;
  padding: 48px 40px;
  background-color: var(--main-bg-color);
}
.mobile__menu-conteiner.is-open {
  display: none;
}
.mobile__site-nav-list {
  margin-bottom: 302px;
}
@media (min-width: 768px) {
  .mobile__site-nav-list {
    display: none;
  }
}
.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile__item:nth-child(1) {
  margin-bottom: 36px;
}
.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding: 0;
}
.mobile__link--current {
  color: var(--accent-color);
}
.mobile__auth-nav-list {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .mobile__auth-nav-list {
    display: none;
  }
}
.mobile__auth-nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile__auth-nav-link {
  padding: 0;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.mobile__auth-nav-link--small {
  font-size: 24px;
}
.mobile__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile__social-item:not(:first-child) {
  padding-left: 10px;
}
.mobile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* title */
.title {
  color: var(--title-text-color);
}
.title--large {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-bg-color);
}
@media (min-width: 1200px) {
  .title--large {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
    width: 100%;
  }
}
.title--middle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}
@media (min-width: 1200px) {
  .title--middle {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.title--small {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .title--small {
    text-align: left;
  }
}
.title--social-light {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
@media (max-width: 1200px) {
  .title--social-light {
    text-align: center;
  }
}

/* button */
.button {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-transform: none;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--accent-button);
}

/* social */
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  -webkit-transition: fill var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function);
}
.social__link:hover, .social__link:focus {
  fill: var(--main-bg-color);
  background-color: var(--accent-color);
}
.social__icon-light {
  fill: var(--main-bg-color);
}

.social__link--dark {
  background-color: var(--icon-bg-footer);
  -webkit-transition: background-color var(--duration) var(--timing-function);
  transition: background-color var(--duration) var(--timing-function);
}
.social__link--dark:hover, .social__link--dark:focus {
  background-color: var(--accent-color);
}

.address {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .address {
    text-align: left;
    margin-bottom: 0;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--main-bg-color);
}
.address__mail-tel {
  color: var(--link-auth-nav-footer);
  -webkit-transition: color var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function);
}
.address__mail-tel:hover, .address__mail-tel:focus {
  color: var(--accent-color);
}

/* Form call to action */
.form-cta {
  width: 450px;
  width: 100%;
}
@media (min-width: 1200px) {
  .form-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 12px;
  }
}
.form-cta__inner {
  width: 100%;
}
@media (min-width: 1200px) {
  .form-cta__inner {
    max-width: 358px;
  }
}
.form-cta__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  text-align: center;
}
.form-cta__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
@media (min-width: 1600px) {
  .form-cta__input {
    margin-bottom: 0;
  }
}
.form-cta__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-cta__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-cta__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-cta__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-cta__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-cta__icon-send {
  fill: currentColor;
  margin-left: 10px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  margin-right: -8px;
}
@media (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
  }
}
.filters__item {
  margin-bottom: 15px;
  margin-right: 8px;
}
.filters__element {
  border: none;
  padding: 6px 22px;
  background-color: var(--button-bg-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  -webkit-transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
  transition: color var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.filters__element:hover, .filters__element:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters__element--active {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  -webkit-transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

/* Form */
.form-modal {
  max-width: 350px;
  width: 100%;
}
@media (min-width: 1200px) {
  .form-modal {
    max-width: 448px;
    width: 100%;
  }
}
.form-modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.form-modal__form-field {
  margin-bottom: 10px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-field__inner {
  position: relative;
}
.form-field__icon-modal {
  position: absolute;
  left: 15px;
  top: 11px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.form-field__inner:focus-within .form-field__icon-modal {
  fill: var(--accent-color);
}
.form-field__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--duration) var(--timing-function);
  transition: border var(--duration) var(--timing-function);
}
.form-field__input:focus {
  border: 1px solid var(--accent-color);
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.textarea__form-field {
  margin-bottom: 20px;
}
.textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__form-field {
  margin-bottom: 30px;
}
.checkbox__input {
  margin-bottom: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input::after {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/border.svg);
}
.checkbox__input + .checkbox__label {
  font-size: 12px;
  line-height: 1.17;
  margin-left: 8px;
}
@media (min-width: 1200px) {
  .checkbox__input + .checkbox__label {
    margin-left: 9px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.condition {
  color: var(--accent-color);
  border-bottom: 0.5px solid var(--accent-color);
  font-size: 12px;
  line-height: 1.17;
}
@media (min-width: 1200px) {
  .condition {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input:checked::after {
  background-image: url(../images/icon-check.svg);
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__site-nav {
  margin-right: auto;
}
@media (max-width: 768px) {
  .header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header {
  border-bottom: 1px solid var(--border-header-color);
}

/* Hero */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bg-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color-gradient)), to(var(--hero-bg-color-gradient))), url(../images/hero-bcg-img.jpg);
  background-image: linear-gradient(var(--hero-bg-color-gradient), var(--hero-bg-color-gradient)), url(../images/hero-bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/* Benefits */
@media (min-width: 768px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.benefits__icon-thumb {
  height: 120px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}
.benefits__item {
  max-width: 450px;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}

/* what we are doing */
.works {
  padding-top: 0;
}
@media (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works__list-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works__overlay {
  position: relative;
}
.works__description {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

/* our team */
.team {
  background: var(--team-bg-color);
}
@media (min-width: 768px) {
  .team__list-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.team__card {
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .customers__item {
    width: 170px;
    height: 92px;
  }
}
@media (min-width: 1200px) {
  .customers__item:not(:last-child) {
    margin-right: 0, 30px, 0, 0;
  }
}
.customers__link {
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: fill var(--duration) var(--timing-function), border var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function), border var(--duration) var(--timing-function);
}
.customers__link:hover, .customers__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* Fotter */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.footer__social {
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .footer__cta {
    margin-left: 93px;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

/* Projects */
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects__item {
  max-width: 450px;
  width: 100%;
}
.projects__item:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .projects__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: -webkit-box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function);
  transition: box-shadow var(--duration) var(--timing-function), -webkit-box-shadow var(--duration) var(--timing-function);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__image {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.projects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bg-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--duration) var(--timing-function);
  transition: -webkit-transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function);
  transition: transform var(--duration) var(--timing-function), -webkit-transform var(--duration) var(--timing-function);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projects__description {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}
.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__type {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */