/* Benefits */
.benefits {
        
    
        @media (min-width: 768px) {
                display: flex;

        }
    
    &__icon-thumb {
            @extend %flex-centered;
            height: 120px;
    
            background-color: var(--team-bg-color);
            border-radius: 4px;
        }
    
    &__item {
        @media (max-width: 768px) {
                max-width: 450px;

                &:not(:last-child) {
                margin-bottom: 30px;
                }

        }

        @media (min-width: 1200px) {
            width: 270px;

            &:not(:last-child) {
                    margin-right: 30px;
                }
        } 
        
        }
}
