/* Benefits */
.benefits {
    display: flex;

    
    &__icon-thumb {
            @extend %flex-centered;
            height: 120px;
    
            background-color: var(--team-bg-color);
            border-radius: 4px;
        }
    
    &__item {
            width: 270px;

            &:not(:last-child) {
                    margin-right: 30px;
                }
        }
}
