/* Fotter */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--short {
      @media (min-width: 768px) {
        display: flex;
        gap: 165px;
      }

      @media (min-width: 1200px) {
        gap: 0;
      }
    }

    @media (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: left;
    }
  }

  &__social {
    margin-bottom: 60px;
    @media (min-width: 1200px) {
      margin-left: 70px;
      margin-bottom: 0;
    }
  }

  &__cta {
    @media (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
    text-align: center;

    @media (min-width: 1200px) {
      text-align: left;
    }
  }
}
