/* what we are doing */
.works {
    padding-top: 0;

    &__list-images {
            display: flex;
            justify-content: space-between;
        }
    
    &__overlay {
            position: relative;
            
        }
    
    &__description {
            position: absolute;
            @extend %flex-centered;            
            
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 70px;
            
    
            font-weight: 700;
            line-height: 1.14;
    
            text-transform: uppercase;
    
            color: var(--main-bg-color);
    
            background: rgba(47, 48, 58, 0.8);
        }


}
