// auth-nav

.auth-nav {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 767px) and (max-width: 1200px) {
    &__icon {
      fill: currentColor;
      margin-right: 8px;
      width: 14px;
      height: 10px;

      &--narrow {
        width: 10px;
        height: 14px;
      }

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
  }

  @media (min-width: 1200px) {
    display: flex;
    gap: 50px;

    &__icon {
      fill: currentColor;
      margin-right: 10px;

      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
  }
}
