// auth-nav

.auth-nav {
    

        @media (max-width: 767px) {
            display: none;
    
        }

        @media (min-width: 767px) {

            
        }


        @media (min-width: 1200px) {
            display: flex;
                gap: 50px;
            
                &__icon {
                    fill: currentColor;
                    margin-right: 10px;
            
                    &:hover,
                    &:focus {
                        fill: var(--accent-color);
                    }
                }          
            
        }
}

