/* logo */
.logo {


    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;

    color: var(--accent-color);

    &--dark {
            color: var(--title-text-color);
        }
    
    &--light {
                   
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1.19px;
    
        color: var(--main-bg-color);
            
        }

    
   
    @media (min-width: 1600px) {
        margin-right: 93px;
    }

}
