.mobile {
    max-width: 767px;
    width: 100%;
    @media (min-width: 768px) {
        display: none;
        }
    &__menu-button {
        
        @extend %flex-centered;
        position: absolute;
        z-index: 10;
        right: 15px;
        top: 10px;
        
        width: 40px;
        height: 40px;
        border: none;
        padding: 0;
        margin: 0;
        background:none;
        cursor: pointer;
        transition: fill var(--duration) var(--timing-function);

        &:hover, &:focus {
            fill: var(--accent-color);
        }            
        }


        &__icon {
            // position: absolute;            
        }

        &__icon-menu {
        .mobile__menu-button.is-open & {
            display: block;
        }

        .mobile__menu-button & {
            display: none;
        }
        }

       &__icon-close {        

        .mobile__menu-button & {
            display: block;
        }

        .mobile__menu-button.is-open  & {
            display: none;
        }

       }
    &__menu-conteiner {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 767px;
        width: 100%;
        
        padding: 48px 40px;
        
                

        background-color: var(--main-bg-color);

        &.is-open {
            display: none;
        }

    }   

    &__site-nav-list {
        @media (min-width: 768px) {
            display: none;
        }
        margin-bottom: 302px;

    }

    &__item {
        &:not(:last-child) {
                margin-bottom: 32px;
            }

        &:nth-child(1) {
            margin-bottom: 36px;
        }

        


    }
    

    &__link {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.18;
            letter-spacing: 0.02em;

            padding: 0;
            
            

            &--current {
               color: var(--accent-color);
        
            }
        }

    &__auth-nav-list {
        @media (min-width: 768px) {
                display: none;
            }
            margin-bottom: 64px;
    }

    &__auth-nav-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__auth-nav-link {
            padding: 0;
            font-weight: 500;
            font-size: 34px;
            line-height: 1.18;
        
            letter-spacing: 0.02em;
            
            &--small {            
                    font-size: 24px;
                    }
        
             }


   &__social-list {
    display: flex;  
    

   }

   &__social-item{
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
        padding-left: 10px;
    }

   }

   &__social-link { 
        font-weight: 500;   
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
        color: var(--accent-color);
      
    

   }
}
