/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--backdrop-bg);

    opacity: 1;
    transition: opacity var(--duration) var(--timing-function),
        visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__close {
            position: absolute;
            top: 8px;
            right: 8px;
    
            @extend %flex-centered;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0;
            background: var(--main-bg-color);
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            cursor: pointer;
            transition: fill var(--duration) var(--timing-function);

            &:hover,
            &:focus {
                    fill: var(--accent-color);
                }

        }

}


