// site-nav

.site-nav {
    


           display: flex;
            align-items: center;
        
        
        
            &__list {
                // display: flex;
                // align-items: center;
                // gap: 50px;

                @media (max-width: 767px) {
                        display: none;
                
                    }
                    @media (min-width:768px) {
                        display: flex;
                        align-items: center;
                        gap: 50px;
                        margin: auto;
                        
                    }


            }
        
    
    
}


